{
	"data": "ENC[AES256_GCM,data:dX2a82ZwpELZ0IZYvYZjHBQ4OSL48nIa4/+u16wy3ULHKz7b5pP8bZdlF4B07UUCKsUiz48BEReDoAvsmPS8ng0uq452vQOdzObwgGEOWjAeKzjRxFF0jCQ/B0GyMMRCtDQ/kchYT/dDSfJTejEIyQLEaJkDgL8jZ+ElQk03Qko+Y8bo+/o9ku9HbLBz86oHZvlq4LuunyXDwUeApy24nHO5/0mMbE8Au3RE3vjjQBafbp/LK5LIzmlgeXeBjFxY2CFfUg==,iv:ykTVZ03QuiSXYIdMcceg4Xlb3KaVk4Uw9SKLmpQnfVw=,tag:NVcbTVx1IwnudPiMbtqTGA==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": null,
		"lastmodified": "2022-10-16T15:15:59Z",
		"mac": "ENC[AES256_GCM,data:QwvlpWJiGGv1m62RZeHvOLySSTq99TtM3Lj/kLlkd0wokigle45R3n08SAL1TEtr0of0Nc7vbaYx82c0KIevEa57h2VAABiqWkH6oA/BE2q2rp28zGnlSXF6S7FUPj8DsyF/m0FrNSSQ5AJWOZPlZpRzvLzhtzoANScfJeKTfzM=,iv:VYE8L4QpwMhE160KhcqImN9N8RFKBAC8FPxWpYxtigg=,tag:zL/cQK/lXivleg/BlUpkdA==,type:str]",
		"pgp": [
			{
				"created_at": "2022-10-16T15:04:44Z",
				"enc": "-----BEGIN PGP MESSAGE-----\n\nhQIMA7BXMbCJx0TvAQ//cZG3AxIwIbcqnTrt+cLJBEpSQ5OJrx/m0pMceZNdTPWl\nMIReGeYbDc0PgTN4YAXHvOk3dYBtmmv93TkqP3j87NRTpK+65n8kfQ8FCaPbKwwg\nupQj/85JpDKS6haRbRmi6Vl2kDW6BTgHLIBOUsXiiWAWsQYTl3LkvfIbwlabHcd4\ntnTwy08/Xs5jN9cZXxxiA+rJ1aui3ldO5JhqnA7oLGp0Gve5VDbVat0WkykiuSWq\nN3xa/CLfgcLsuy+YpwvujnnkBKI7mHSrjrJ8qrRbf3oA3Xgyvq1mwbRJ4hWbfMFc\nDg5zrkDiI1ZWT4iWLosTXhQ58Q51kCZEkcc+umw+VmAuZW9dHugLHZIUso9mCthe\nCO9T3ChNegWxnZXUIlQOUaE4PyqIXVSEBUeU1GBPV44UXUq/ibU1dxXLtbJiqzw1\nWpojcOpNGDuUllifM+OcPSI2DzD6OiF+IyklpAoc7ArCoqu46ymPcdcWsjDPALVD\n8dCXfG7at7KZk9xCNMyk80YlER67IKFWA9VaaCDf/PfOmv9989TZ6qFFc08HJIcR\nYebXWVnfi6v7QnjN9lFlMWIe326ToKNiakTvQpfU70iglKAzxAuhk7HY3DBxlLBS\nPNCmpsjV0uKO17gD9OHabiq9Nz7kLAa8BLY40aVp9aWlq335FXn2HVCauomxGk7S\nXgHsWCg+4k01V9NWUM0pS+lPv/PKta0UM3uVey/d0MtNGUdUOFtSYDfcdH9WY0DF\nM855FFcdI5sKZhHUJVDqzBMBEf5+MkwniDoBArfI7fuRPKSgWlHSVfkVQz8Liaw=\n=Nqow\n-----END PGP MESSAGE-----\n",
				"fp": "35E72CCE7A51D57EA14F0366FE3478FAFE27EBDC"
			}
		],
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.3"
	}
}