proxmox_host         = "{{ netblock.first.default }}.{{ netblock.second.default }}.{{ netblock.third.default }}.{{ netblock.fourth.pve }}{{ groups['pve'][0][-1] }}:{{ ports.pve }}"
proxmox_node         = "{{ groups['pve'][0] }}"
proxmox_api_user     = "{{ pve_api_user }}@pam"
proxmox_api_password = "{{ pve_api_pass }}"
