# Managed by jamlab-ansible
[Unit]
Description=daily-playbook service
After=network-online.target

[Service]
# Because StandardOutput= is 'truncate', there must be only one ExecStart=
StandardOutput=truncate:/var/log/daily-ansible.log
ExecStart=/bin/bash -c "/usr/local/sbin/jamlab-ansible-update -r"
Type=oneshot
