# Managed by jamlab-ansible
[Unit]
Description=Wakeup script to run once on boot
Wants=network.target
After=network-online.target

[Service]
Type=oneshot
StandardOutput=file:/var/log/wakeup.log
ExecStartPre=/usr/bin/truncate --size=0 /var/log/wakeup.log
ExecStart=/etc/systemd/scripts/wakeup.sh

[Install]
WantedBy=multi-user.target
