# Managed by jamlab-ansible
datacenter = "dc1"
data_dir = "/opt/nomad"

{% if hashistack is defined %}
    {%- if hashistack == 'server' %}
        {%- include 'nomad_server.hcl.j2' %}
    {%- elif hashistack == 'client' %}
        {%- include 'nomad_client.hcl.j2' %}
    {% endif %}
{% endif %}
