# Managed by jamlab-ansible
datacenter = "dc1"
data_dir = "/opt/nomad"

{% if hashistack is defined %}
    {%- if hashistack == 'server' %}
        {%- include 'nomad_server.hcl.j2' %}
    {%- elif hashistack == 'client' %}
        {%- include 'nomad_client.hcl.j2' %}
    {% endif %}
{% endif %}

telemetry {
  prometheus_metrics         = true
  disable_hostname           = true
  publish_allocation_metrics = true
  publish_node_metrics       = true
}

tls {
  http = true
  rpc  = true

  ca_file   = "/etc/nomad.d/nomad-ca.pem"
  key_file  = "/etc/nomad.d/nomad-{{ hashistack }}-key.pem"
  cert_file = "/etc/nomad.d/nomad-{{ hashistack }}.pem"

  verify_server_hostname = true
  verify_https_client    = true
}

consul {
  address             = "127.0.0.1:8500"
  server_service_name = "nomad"
  client_service_name = "nomad-client"
  auto_advertise      = true
  server_auto_join    = true
  client_auto_join    = true
}
